<!-- Javascript -->
<script src="https://terapiainspire.com.br/assets/js/jquery.min.js"></script>
	<script src="https://terapiainspire.com.br/assets/js/jquery.scrollex.min.js"></script>
	<script src="https://terapiainspire.com.br/assets/js/jquery.scrolly.min.js"></script>
	<script src="https://terapiainspire.com.br/assets/js/browser.min.js"></script>
	<script src="https://terapiainspire.com.br/assets/js/breakpoints.min.js"></script>
	<script src="https://terapiainspire.com.br/assets/js/util.js"></script>
	<script src="https://terapiainspire.com.br/assets/js/main.js"></script>
	<script src="https://kit.fontawesome.com/8dd701ac15.js" crossorigin="anonymous"></script>
	
  {% include analytics.html %}
